/* index.css */
/* Opcional: un reset muy básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; !important;
}

body {
  font-family: 'Inter', sans-serif; !important;
}
